
@using Entities.Concrete 
@model MUSTERIDETAY
@{
    ViewData["Title"] = "AdresDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="box-shadow:none;margin-top:1px">
    <div class="col-md-12">
        <h1>Adres Düzenleme</h1>

        <form method="post" asp-action="AdresDuzenle" asp-controller="Account" role="form">

            <div class="form-group mt-2 col-sm-6">

                <label>Adres Başlığı*</label>
                <input type="text" class="form-control" name="KATAGORI" value="@Model.KATAGORI" id="KATAGORI" placeholder="" style="border:0.25px solid #959595" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')" />
            </div>

            <div class="form-group mt-2 col-sm-6">

                <label>İl*</label>
                <select id="city" onchange="city(this)" asp-for="SEHIR" class="form-control" style="border:0.25px solid #959595">
                    <option value="@Model.SEHIR">@Model.SEHIR</option>
                    <option value="İstanbul">İstanbul</option>
                    <option value="Ankara">Ankara</option>
                    <option value="İzmir">İzmir</option>
                    <option value="Adana">Adana</option>
                    <option value="Adıyaman">Adıyaman</option>
                    <option value="Afyonkarahisar">Afyonkarahisar</option>
                    <option value="Ağrı">Ağrı</option>
                    <option value="Aksaray">Aksaray</option>
                    <option value="Amasya">Amasya</option>
                    <option value="Antalya">Antalya</option>
                    <option value="Ardahan">Ardahan</option>
                    <option value="Artvin">Artvin</option>
                    <option value="Aydın">Aydın</option>
                    <option value="Balıkesir">Balıkesir</option>
                    <option value="Bartın">Bartın</option>
                    <option value="Batman">Batman</option>
                    <option value="Bayburt">Bayburt</option>
                    <option value="Bilecik">Bilecik</option>
                    <option value="Bingöl">Bingöl</option>
                    <option value="Bitlis">Bitlis</option>
                    <option value="Bolu">Bolu</option>
                    <option value="Burdur">Burdur</option>
                    <option value="Bursa">Bursa</option>
                    <option value="Çanakkale">Çanakkale</option>
                    <option value="Çankırı">Çankırı</option>
                    <option value="Çorum">Çorum</option>
                    <option value="Denizli">Denizli</option>
                    <option value="Diyarbakır">Diyarbakır</option>
                    <option value="Düzce">Düzce</option>
                    <option value="Edirne">Edirne</option>
                    <option value="Elazığ">Elazığ</option>
                    <option value="Erzincan">Erzincan</option>
                    <option value="Erzurum">Erzurum</option>
                    <option value="Eskişehir">Eskişehir</option>
                    <option value="Gaziantep">Gaziantep</option>
                    <option value="Giresun">Giresun</option>
                    <option value="Gümüşhane">Gümüşhane</option>
                    <option value="Hakkari">Hakkari</option>
                    <option value="Hatay">Hatay</option>
                    <option value="Iğdır">Iğdır</option>
                    <option value="Isparta">Isparta</option>
                    <option value="Kahramanmaraş">Kahramanmaraş</option>
                    <option value="Karabük">Karabük</option>
                    <option value="Karaman">Karaman</option>
                    <option value="Kars">Kars</option>
                    <option value="Kastamonu">Kastamonu</option>
                    <option value="Kayseri">Kayseri</option>
                    <option value="Kırıkkale">Kırıkkale</option>
                    <option value="Kırklareli">Kırklareli</option>
                    <option value="Kırşehir">Kırşehir</option>
                    <option value="Kilis">Kilis</option>
                    <option value="Kocaeli">Kocaeli</option>
                    <option value="Konya">Konya</option>
                    <option value="Kütahya">Kütahya</option>
                    <option value="Malatya">Malatya</option>
                    <option value="Manisa">Manisa</option>
                    <option value="Mardin">Mardin</option>
                    <option value="Mersin">Mersin</option>
                    <option value="Muğla">Muğla</option>
                    <option value="Muş">Muş</option>
                    <option value="Nevşehir">Nevşehir</option>
                    <option value="Niğde">Niğde</option>
                    <option value="Ordu">Ordu</option>
                    <option value="Osmaniye">Osmaniye</option>
                    <option value="Rize">Rize</option>
                    <option value="Sakarya">Sakarya</option>
                    <option value="Samsun">Samsun</option>
                    <option value="Siirt">Siirt</option>
                    <option value="Sinop">Sinop</option>
                    <option value="Sivas">Sivas</option>
                    <option value="Şırnak">Şırnak</option>
                    <option value="Tekirdağ">Tekirdağ</option>
                    <option value="Tokat">Tokat</option>
                    <option value="Trabzon">Trabzon</option>
                    <option value="Tunceli">Tunceli</option>
                    <option value="Şanlıurfa">Şanlıurfa</option>
                    <option value="Uşak">Uşak</option>
                    <option value="Van">Van</option>
                    <option value="Yalova">Yalova</option>
                    <option value="Yozgat">Yozgat</option>
                    <option value="Zonguldak">Zonguldak</option>
                </select>
                @Html.ValidationMessageFor(model => model.SEHIR, "", new { @class = "text-danger" })
              
            </div>
            <div class="form-group mt-2 col-sm-6">

                <label>İlçe*</label>
                <select id="district" type="text" asp-for="ILCE" class="form-control" name="ILCE" placeholder="" style="border:0.25px solid #959595; " >
                 
                </select>
                @Html.ValidationMessageFor(model => model.ILCE, "", new { @class = "text-danger" })
             
            </div>
          
            <div class="form-group mt-2 col-sm-6">

                <label>Adres*</label>
                <textarea class="form-control" name="ADR1" id="ADR1" placeholder="" style="border:0.25px solid #959595" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')">@Model.ADR1</textarea>
                @*<input type="text" class="form-control" name="TESLIM" placeholder="" style="border:0.25px solid #959595" required />*@
            </div>
            <div class="form-group  col-sm-6">

                <label>Telefon Numarası*</label>
                <input type="text" class="form-control" name="TEL1" value="@Model.TEL1" id="TEL1" placeholder="" style="border:0.25px solid #959595" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')" />

            </div>
            <div class="form-group  col-sm-6">

                <label>E-Posta*</label>
                <input type="email" class="form-control" name="EMAIL" value="@Model.EMAIL" id="EMAIL" placeholder="" style="border:0.25px solid #959595" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')" />

            </div>
            <div class="form-group  col-sm-6">

                <label>T.C. No/Vergi No</label>
                <input type="email" class="form-control" name="EMAIL" value="@Model.VERGINO" id="EMAIL" placeholder="" style="border:0.25px solid #959595"/>


            </div>
            <div class="form-group  col-sm-6">

                <label>Vergi Dairesi</label>
                <input type="email" class="form-control" name="EMAIL" value="@Model.VERGIDAIRESI" id="EMAIL" placeholder="" style="border:0.25px solid #959595" />


            </div>
            <div class="form-group col-sm-6">

                <label>Posta Kodu*</label>
                <input type="text" class="form-control" name="POSTAKODU" value="@Model.POSTAKODU" id="POSTAKODU" placeholder="" style="border:0.25px solid #959595" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Lütfen bu alanı doldurunuz.')" />
                

            </div>
            @Html.HiddenFor(x => x.SIRANO)
            <div class="form-group col-sm-6">
                <label></label>
                <button id="btnLogin" type="submit" class="btn mt-1" style="font-size: 15px; color: white; background-color: red; box-shadow: none !important; width: 100%; border-radius: 0; border-color: red">
                    GÜNCELLE
                </button>

                
            </div>

        </form>
    </div>
</div>

@section js{
<script src="~/js/ilce.js" type="text/javascript"></script>
}

@*@section js{

        <script src="~/js/ilce.js" type="text/javascript"></script>
    }*@